{% extends 'base.html.twig' %}



{% block body %}
       <section class="content">
        
        <div class="row">
            {{ include('titulo/_form.html.twig', {'button_label': 'ACTUALIZAR'}) }}

            <a href="{{ path('titulo_index') }}"><button class="btn btn-success" style="margin: 0px 5px">VOLVER AL LISTADO</button></a>
            <p>
            {{ include('titulo/_delete_form.html.twig') }}

        </div>
    </section>
{% endblock %}
