{% extends 'base.html.twig' %}



{% block body %}

    <section class="content">
        
        <div class="row">
            {{ include('estado_visa/_form.html.twig', {'button_label': 'ACTUALIZAR'}) }}

            <a href="{{ path('estado_visa_index') }}"><button class="btn btn-success" style="margin: 0px 5px">VOLVER AL LISTADO</button></a>
            <p>
            {{ include('estado_visa/_delete_form.html.twig') }}

        </div>
    </section>
{% endblock %}
