{% extends 'base.html.twig' %}


{% block body %}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listas de Estados de Visa</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
            <tr>
            <tr>
                <th>Nombre</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for estado_visa in estado_visas %}
            <tr>
                <td>{{ estado_visa.tipoestado }}</td>
                <td>
                    <a href="{{ path('estado_visa_show', {'id': estado_visa.id}) }}"><button class="fa fa-eye btn-sm"></button></a>
                    <a href="{{ path('estado_visa_edit', {'id': estado_visa.id}) }}"><button class="fa fa-pencil btn-sm"></button></a>
                </td>
            </tr>
        {% else %}
            <td colspan="3">No se encontraron registros</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{{ path('estado_visa_new') }}"><button class="btn btn-primary">CREAR NUEVO ESTADO DE VISA</button></a>
    </section>
    {% endblock %}