<form method="post" action="{{ path('areopuerto_delete', {'id': areopuerto.id}) }}" onsubmit="return confirm('Está seguro que desea eliminar este registro?');">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ areopuerto.id) }}">
    <button class="btn btn-danger" style="margin: 0px 5px">ELIMINAR</button>
</form>
