<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este registro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger" style="margin: 0px 5px">ELIMINAR</button>
</form>
